body {
    background-color: #3c91e6;
    background-size: cover;
    color: #fafffd;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

#sobreNombre {
    color: #9fd356;
}

p {
    font-style: italic ;
}
